extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jordi Guirao

        //- Feel free personalize the title below
        p.lead.text-light
          | Blockchain & DLTs Engineer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am Jordi Guirao, Engineer with an International MBA Master in Industrial Business and Administration, specialized in Blockchain and Distributed Ledger Technology Engineering at the Blockchain Institute & Technology in Barcelona (BIT BCN). 
            | I have strong experience in Power Generation working in a world leading company in the sector.
            | HashMarket Founder & COO. DeFi & DLTs beliver.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML, CSS, JavaScript
          li Node
          li Express
          li jQuery
          li Blockchain & DLTs
          li Ethereum
          li Smart contracs
          li Solidity 
          li Truffle
          li Energy & Power Generation
        h6 Contact Info

        //- Add your own contact info
        ul
          li jordigm6@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/jordiguiraomuns/') LinkedIn
        a.button.expanded(href='https://github.com/jordiguirao92') GitHub
        a.button.expanded(href='https://twitter.com/JGMblock') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  